file_copier.py
HelsinkiUni_MOOC/tmcdata/mooc-programming-26/part10-10_phone_book_v1/phonebook.txt
HelsinkiUni_MOOC/tmcdata/mooc-programming-26/part10-10_phone_book_v1/src/phonebook.txt

# Python cache files
__pycache__/
*.py[cod]

# Init files
*init*
